@{
}
@model Vacation_Manager.Models.TeamModels.TeamEditViewModel
<h1>Edit</h1>

<h4>Team</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TeamName" class="control-label"></label>
                <input asp-for="TeamName" class="form-control" />
                <span asp-validation-for="TeamName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TeamLeadNavigation" class="control-label">Team Leader:</label>
                <select>
                    <option>-- No Leader --</option>
                    @foreach (var user in ViewBag.UserList)
                    {
                        <option value=”@user”>@String.Concat(user.FirstName, " ", user.LastName)</option>
                    }
                </select>
                <span asp-validation-for="TeamLeadNavigation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TeamProjectNavigation" class="control-label">Project:</label><br />
                <select>
                    <option>-- No Project --</option>
                    @foreach (var project in ViewBag.ProjectList)
                    {
                        <option value="@project">@project.ProjectName</option>
                    }
                </select>
                <span asp-validation-for="TeamProjectNavigation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
