@{
}
@model Vacation_Manager.Models.UserModels.UsersEditViewModel
<h1 style="color:white;margin-left: 10px;">Промени потребител</h1>
<div>
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="UserId" />
            <div class="form-group">
                <input asp-for="Username" placeholder="Потребителско име" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="Password" type="password" placeholder="Парола" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="FirstName" placeholder="Име" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="LastName" placeholder="Фамилия" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <select asp-for="Role">
                    <option selected disabled>-- Избери роля на достъп --</option>
                    <option value="Unassigned">Unassigned</option>
                    <option value="Developer">Developer</option>
                    <option value="Team Lead">Team Lead</option>
                    <option value="CEO">CEO</option>
                </select>
                <span asp-validation-for="Role" class="text-danger"></span>
            </div>
            <div class="form-group">
                <select asp-for="Role">
                    <option selected disabled>-- Избери екип --</option>
                    @foreach (var user in Model.Teams)
                    {
                        <option value="@user.TeamId">@user.TeamName</option>
                    }
                </select>
                <span asp-validation-for="Team" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" class="submission" value="Промени" />
                <p></p>
                <a type="submit" asp-action="Index" class="btn btn-primary">Обратно към Служители</a>
            </div>
        </form>
    </div>
</div>
