@model Vacation_Manager.Models.ProjectModels.ProjectDetailsViewModel
    <p>
    <p>
        <h1 style="color:white;margin-left: 10px;">Добави екип</h1>
        <h2 style="color:white;margin-left: 10px;">Екипа работи върху проект: @Model.ProjectName</h2>

        <header class="page-header header container-fluid">
            @if (Startup.loggedInRole == "CEO")
            {
                <a type="submit" class="btn btn-primary" asp-action="Create">Добави проект</a>
            }
            <div class="tablesm">
                <table style="width:100%">
                    <thead>
                        <tr>
                            <th>
                                Име на проект
                            </th>
                            <th>
                                Team Lead
                            </th>
                            @if (Startup.loggedInRole == "CEO" || Startup.loggedInRole == "Team Lead")
                            {
                                <th>
                                    Администриране
                                </th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var team in Model.Teams)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => team.TeamName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => String.Concat(team.TeamLeadNavigation.FirstName, " ", team.TeamLeadNavigation.LastName))
                                </td>
                                <td>
                                    @if (Startup.loggedInRole == "CEO" || Startup.loggedInRole == "Team Lead")
                                    {
                                        <a asp-action="DeleteTeam" asp-route-id="@team.TeamId">Премахни</a>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </header>

